body {
	margin: 0px 50px;
	font-family: monospace;
	background-color: #0A192F;
}


/* NavBar Section */
header {
	width: 95%;
	height: 70px;
	background-color: #5e7ee7;
	display: flex;
	position: sticky;
	top: 0;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	border-radius: 0 0 10px 10px;
}

#nav-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 100%;
}

.nav-link {
	display: inline-flex;
}

.nav-link {
	text-decoration: none;
	font-size: 22px;
	margin: 0 10px;
	color: #ffffff;
	cursor: pointer;
	padding: 8px 18px;
	transition: 0.2s;
	border-radius: 30px;
	font-weight: 600;
}

.nav-link:not(:last-child):hover {
	color: black;
	background-color: #ffffff;
}

.resume-link>button {
	cursor: pointer;
	background-color: transparent;
	color: #CCD6F6;
	transition: 0.3s;
	font-size: 20px;
	padding: 10px;
	border: 1px solid turquoise;
	border-radius: 5px;
}

.resume-link>button:hover {
	background-color: #2b6fd4;
}



.hamburger {
	display: none;
	height: fit-content;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.3s;
}

.hamburger:hover {
	background-color: #3676d6;
}

.hamburger>div {
	width: 30px;
	height: 2px;
	margin: 6px 0;
	background-color: #ffffff;
}

@media only screen and (max-width: 850px) {
	header {
		padding: 0px 20px;
		justify-content: flex-end;
	}

	.hamburger {
		display: block;
	}

	#nav_check:checked~#nav-menu {
		left: 0;
	}

	#nav-menu {
		position: absolute;
		left: -300px;
		top: 0;
		z-index: 999;
		width: 280px;
		height: 100vh;
		background-color: #11294d;
		transition: 0.3s;
		box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
	}

	.nav-link {
		color: white;
		width: 150px;
	}


	#nav-menu>ul {
		display: block;
		padding: 0 20px;
		margin-top: 30px;
	}

	#nav-menu>ul>.nav-link {
		margin-bottom: 5px;
		padding: 10px 15px;
		display: block;
		border-radius: 5px;
	}

}








/* Home Section */
#home {
	width: 100%;
	margin-top: 200px;
	height: fit-content;
	display: flex;
}

#home>div {
	margin: 10px;
	width: fit-content;
}

.home-img {
	width: 200px;
	border-radius: 30%;
	border: 4px solid #8aa0eb;
}

#home>div>p {
	color: turquoise;
	font-size: 20px;
	margin: 0px;
	margin-top: 20px;
}

#user-detail-name {
	text-align: left;
	color: #CCD6F6;
	font-size: 50px;
	margin: 5px 0px;
}

#user-detail-intro {
	text-align: left;
	color: #909dc5;
	font-size: 40px;
	margin: 5px 0px;
}

#home > div > .full {
	font-size: 45px;
	margin-top: 10px;
	color: #909dc5;
}




/* About Section */
#about {
	width: 100%;
	height: fit-content;
	margin-top: 100px;
}



#about>h1 {
	font-size: 35px;
	text-align: center;
	background-color: #6698e4;
	letter-spacing: 10px;
	border-radius: 10px;
}


#aboutText {
	display: flex;
}

#about>div>div>p {
	font-size: 25px;
	text-align: justify;
	color: #CCD6F6;
}

#aboutText-text-div {
	width: 60%;
}

#about>div>div>img {
	border: 0px;
	width: 400px;
}



/* Skills Section */
#skills-title {
	color: #5a95ec;
	font-size: 40px;
}

#skills-category {
	color: #CCD6F6;
	font-size: 26px;
	padding: 10px 20px;
	text-align: center;
}

#skills {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.skills-card,
.autotyping {
	width: 200px;
	height: 250px;
	border: 1px solid #8aa0eb;
	text-align: center;
	color: white;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
}

.skills-card:hover {
	border-color: 3px solid #CCD6F6;
	background-color: #8aa0eb;
	transition: 0.3s;
}

#skills>h2 {
	color: #CCD6F6;
}








/* Projects Section */
#project-title {
	color: #CCD6F6;
	text-align: right;
	margin-right: 100px;
	font-size: 40px;
}

#projects {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}

.project-card {
	width: 360px;
	padding: 10px;
	margin: 12px;
	border: 1px solid #CCD6F6;
	border-radius: 7px;
	height: fit-content;
}

.project-card>img {
	border-radius: 5px;
	width: 360px;
	margin-bottom: 7px;
}

.project-card>img:hover~video {
	display: block;
}

.project-card>video {
	border-radius: 5px;
	width: 360px;
}

.project-title {
	color: #CCD6F6;
	text-align: center;
	font-size: 30px;
}

.project-description {
	color: white;
	font-size: 19px;
	text-align: justify;
}

.project-tech-stack>span {
	color: black;
	padding: 2px 10px;
	font-family: 'Courier New', Courier, monospace;
	display: block;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 600;
	border-radius: 5px;
	background-color: white;
}

.project-tech-stack {
	color: aqua;
	text-align: center;
	font-size: 17px;
}

.project-github-link {
	color: #CCD6F6;
	font-size: 20px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	/* text-decoration: none; */
}

.project-deployed-link {
	color: #CCD6F6;
	font-size: 20px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	/* text-decoration: none; */
}

.project-presentation {
	color: #CCD6F6;
	text-align: center;
	display: block;
	font-size: 20px;
}




/* Resume Section */
#resume-section {
	width: 100%;
	border-top: 3px solid #8aa0eb;
}

#resume-section>h1 {
	font-size: 40px;
	color: #CCD6F6;
	margin: 50px;
}

#resume-section>a {
	text-align: center;
	display: block;
}

#resume-section>a>button {
	padding: 30px 100px;
}




/* Github Stats */
#stats {
	margin-top: 100px;
	border-top: 3px solid #909dc5;
	padding: 20px 0px;
}

#stats>h1 {
	color: #CCD6F6;
	font-size: 40px;
	text-align: center;
}


#stats>div>p>img {
	display: block;
	margin: 10px;
	width: 500px;
	margin-bottom: 50px;
}

#contact {
	margin-top: 100px;
}

.calendar {
	background-color: white;
	width: 100%;
	padding: 20px 10px;
}



/* Contact Details */
#contact {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
}

#contact>h1 {
	color: white;
	font-size: 40px;
	text-align: center;
	background-color: #7e90c9;
	border-radius: 10px;
	margin-top: 50px;
}

#contact>a {
	font-size: 30px;
	text-decoration: none;
	display: block;
	color: #CCD6F6;
	/* border: 2px solid red; */
	margin: 10px;
}

#contact>a>button {
	cursor: pointer;
	background-color: transparent;
	color: #CCD6F6;
	transition: 0.3s;
	width: 150px;
	height: 80px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid turquoise;
	border-radius: 5px;
}

#contact>a>button:hover {
	background-color: #2b6fd4;
}


@media only screen and (max-width: 870px) {
	body {
		margin: 0px 30px;
	}


	/* Home Section */
	#home {
		width: 100%;
		margin-top: 130px;
		height: fit-content;
		display: block;
	}

	#home>div {
		text-align: center;
		margin: 10px 0px;
		width: 100%;
	}

	#home>div>p {
		font-size: 20px;
	}

	#user-detail-name {
		text-align: center;
	}

	#user-detail-intro {
		text-align: center;
	}

	/* about Section  */
	#aboutText {
		display: block;
	}

	#aboutText>div {
		margin: auto;
		text-align: center;
	}

	#home > div > h2 {
		color: white;
		font-size: 40px;
	}

	#aboutText-text-div {
		color: white;
		font-size: 40px;
	}

	#projects {
		width: fit-content;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 100px;
	}


	.project-card {
		width: 300px;
		margin: auto;
		margin-bottom: 18px;
		border: 1px solid #CCD6F6;
		border-radius: 7px;
		height: fit-content;
	}

	.project-card>img {
		width: 300px;
	}

	.project-card>video {
		border-radius: 5px;
		width: 300px;
	}




	#stats>div>p>img {
		display: block;
		margin-bottom: 80px;
		width: 400px;
	}
}


@media only screen and (max-width: 420px) {
	body {
		margin: 0px 0px;
	}

	.home-img {
		width: 150px;
	}

	/* Home Section */
	#home {
		width: 100%;
		margin-top: 100px;
		height: fit-content;
		display: block;
	}

	#home>div {
		text-align: center;
		margin: 10px 0px;
		width: 100%;
	}

	#home>div>p {
		font-size: 15px;
	}

	#user-detail-name {
		text-align: center;
		font-size: 30px;
	}

	#user-detail-intro {
		font-size: 25px;
		text-align: center;
	}

	/* about Section  */
	#aboutText {
		display: block;
	}

	#aboutText>div {
		margin: auto;
	}

	#aboutText-text-div {
		width: 100%;
	}


	#contact>a {
		font-size: 20px;
		text-decoration: none;
		display: block;
		color: #CCD6F6;
		margin: 10px;
	}

	#stats>div>p>img {
		width: 300px;
	}
}